<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.saurabhomer.qualityapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo_noshadow"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:remove="android:appComponentFactory">
        <activity android:name=".MetelDetectionPage"></activity>
        <activity android:name=".SkuCheckReport100" />
        <activity android:name=".MeasurmentDescription" />
        <activity android:name=".DailyFinishingAnalysis2" />
        <activity android:name=".DailyFinishingDefectAnalysis" />
        <activity
            android:name=".SignUpActivity"
            android:label="@string/title_activity_sign_up"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".MainActivity" />
        <activity android:name=".RegistrationActivity" />
        <activity android:name=".SplashScrActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".PWresetActivity" />
        <activity
            android:name=".Main2Activity"
            android:label="@string/title_activity_main2" />
    </application>

</manifest>