<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.saurabhomer.qualityapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo_noshadow"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:remove="android:appComponentFactory">
        <activity android:name=".CartoonAudit.AreaOfPackingMaterial" />
        <activity android:name=".CartoonAudit.AreaOfInsideCartoon" />
        <activity android:name=".CartoonAudit.AreaofOutsideCartoon" />
        <activity android:name=".InlinePrelineFinal.InlinePrelineFinal" />
        <activity android:name=".CartoonAudit.CartoonAudit" />
        <activity android:name=".HourlyLotAuditReport.HourlyLotAudit" />
        <activity android:name=".MetelDetectionPage.MetelDetectionAdmin" />
        <activity android:name=".MeasurementDescription" />
        <activity android:name=".MainSheet" />
        <activity android:name=".MetelDetectionPage.MetelDetectionPage" />
        <activity android:name=".SkuCheckReport.SkuCheckReport100Page2" />
        <activity android:name=".Measurement.Measurment" />
        <activity android:name=".DailyFinishingAnalysis.DailyFinishingAnalysis2" />
        <activity android:name=".DailyFinishingAnalysis.DailyFinishingDefectAnalysis" />
        <activity
            android:name=".SignUpActivity"
            android:label="@string/title_activity_sign_up"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".MainActivity" />
        <activity android:name=".RegistrationActivity" />
        <activity android:name=".SplashScrActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".PWresetActivity" />
        <activity android:name=".cardviewmenu.CardMenu" />
        <activity android:name=".ui.gallery.MainSheet" />
        <activity android:name=".admin.DailyfinishingAdmin" />
        <activity android:name=".Measurement.Mesurement1" />
        <activity android:name=".hourlylot.HourlyLot" />
        <activity android:name=".hourlylot.HourlyLot2" />
        <activity android:name=".SkuCheckReport.SkuCheckReport100Page1" />
        <activity android:name=".admin.SkuAdmin"></activity>
    </application>

</manifest>